In [87]:
# 1
list1 = ['python','php','java']
for i in range(0, len(list1)):
    print(list1[i])

python
php
java

In [88]:
# 2
numlist = [1,2,3,4,5,6,7,8,9,10]
sum = 0
for i in range(0, len(numlist)):
    sum += numlist[i]
print(sum)

55

In [11]:
# 3
def urjver(numlist):
    y=1
    k=0
    while len(numlist)>k:
        y = y*numlist[k]
        k += 1
    return(y)
numlist = [1,2,3,4,5]
print(urjver(numlist))

120

In [12]:
# 4
def multiply(numlist):
    x = numlist[2]*numlist[-1]
    return(x)
numlist = [-1,2,-3,4,-5,6,-7,8,-9,10]
print(multiply(numlist))

-30

In [13]:
# 5
def maxmin(numlist):
    a = max(numlist)
    b = min(numlist)
    return(a,b)
numlist = [1,2,3,4,5,6,7,8,9,10]
print(maxmin(numlist))

(10, 1)

In [14]:
# 6
def count(list1):
    counter = 0
    for element in list1:
        if len(element)>2 and element[0] == element[-1]:
             counter+=1
    return(counter)
list1 = ['abdba', 'abcd', '121', 'nomin']
print(count(list1))

3

In [15]:
# 7
def overlap(list1):
    list2 = []
    [list2.append(i) for i in list1 if i not in list2]
    return(list2)
list1 = [1,3,2,5,1,3,4,5,1,2]
print(overlap(list1))

[1, 3, 2, 5, 4]

In [20]:
# 8
def empty(list1):
    if len(list1) == 0:
        return("Hooson jagsaalt")
    else:
        return("Jagsaalt hooson bish")
list1 = []
print(empty(list1))

Hooson jagsaalt

In [21]:
# 9
def delete(numlist):
    del numlist[3]
    del numlist[4]
    del numlist[5]
    return(numlist)
numlist = [1,2,3,4,5,6,7,8,9,10]
print(delete(numlist))

[1, 2, 3, 5, 7, 9, 10]

In [96]:
# 10
numbers = (10,20,30,40,50)

In [34]:
# 11
def addelement(x):
    y=list(x)
    y.append(input())
    x = tuple(y)
    return(x)
x = ('a','b')
print(addelement(x))

c
('a', 'b', 'c')

In [35]:
# 12
def print2(list1):
    return(list1[1],list1[-2])
list1 = ('a','b','c','d','e')
print(print2(list1))

('b', 'd')

In [99]:
# 13
fruits = ('orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana')
x = input()
if x in fruits:
    print(x, "is in it.")
else:
    print("There is not any", x)

pear
pear is in it.

In [100]:
# 14
letters = ('a','b','c','d','e')
k = 0
while len(letters)>k:
    print(letters[k])
    k += 1

a
b
c
d
e

In [101]:
# 15
numbers = {'1', '2', '3', '4'} 
letters = {'1', 'x', 'y', 'z'}
newset = numbers.union(letters)
print(newset)

{'x', '1', 'y', '3', '2', 'z', '4'}

In [102]:
# 16
numbers = {'1', '2', '3', '4', 'y'} 
letters = {'2', 'x', 'y'} 
newset = numbers.intersection(letters)
print(newset)

{'y', '2'}

In [103]:
# 17
numbers = {'1', '2', '3', '4', '5'} 
print(len(numbers))

5

In [104]:
# 18
letters = {'a', 'b', 'c', 'd','e'}
letters.remove(input())
print(letters)

c
{'d', 'e', 'b', 'a'}

In [105]:
# 19
letters = {'a', 'b', 'c', 'd','e'}
letters.clear()
print(letters)

set()

In [106]:
# 20
fruits = {'orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana'}
del fruits
print(fruits)

NameError: name 'fruits' is not defined

In [107]:
# 21
dict1 = {
    1975: 2003, 
    4:1, 
    21: 18 } 
list1 = list(dict1.keys())
list2 = list(dict1.values())
list3=list1+list2
list3.sort()
print(list3)
list3.sort(reverse=True)
print(list3)

[1, 4, 18, 21, 1975, 2003]
[2003, 1975, 21, 18, 4, 1]

In [108]:
# 22
dict1 = { 
    'Year': 2022, 
    'Month': 'February', 
    'Day': 'Wednesday' } 
if 'Day' in dict1:
    print('Day is in it.' )

Day is in it.

In [109]:
# 23
dict1 = { 
    'Year': '2022', 
    'Month': 'February', 
    'Day': 'Wednesday' } 
if 'February' in dict1.values():
    print('February is in it.' )
else:
    print('February is not in it')

February is in it.

In [110]:
# 24
dict1 = { 
    'Year': 2022, 
    'Month': 'February', 
    'Day': 'Wednesday' } 
for x,y in dict1.items():
    print(x,y)

Year 2022
Month February
Day Wednesday

In [111]:
# 25
dict1 = { 
    'Year': 2022, 
    'Month': 'February', 
    'Day': 'Wednesday' } 
dict2 = {
    'On': 2003, 
    'Sar':1, 
    'Udur': 18 } 
dict1.update(dict2)
print(dict1)

{'Year': 2022, 'Month': 'February', 'Day': 'Wednesday', 'On': 2003, 'Sar': 1, 'Udur': 18}

In [112]:
# 26
dict1 = {
    'Year': 2003, 
    'Month':1, 
    'Day': 18 } 
sum=0
for i in dict1:
    sum += dict1[i]
print(sum)

2022